<div class="home">
  <div class="home-container">

    <div class="large">跟我游</div>

    <form class="form">
      <input type="text" class="small searchbar">
      <button class="small"><%= link_to 'Search', users_path %> </button>
    </form>

  </div>
</div>
