<div class="row">
  <div class="col-md-6 col-md-offset-3">

  	<div class="profile">

  		<div class="profile-image">
  		</div>
  		
  		<div class="profile-desc">

			<h2>Username</h2>
			<%= @user.name %>
			<h2>Email</h2>
			<%= @user.email %>  
			<h2>Information</h2>
			<%= @user.info %>
			<h2>Rating</h2>
			★ ★ ★ ★ ☆

  		</div>
	
  	</div>

  	<!-- if this is a guide, display comments -->
  	<% if ( @user.property == 1 ) %>
	<h2>Comments</h2>
	<div class="comment-container">
		<h3>John Smith</h3>
		<div class="comment">★ ★ ★ ★ ☆ Thanks for a good time!</div>
		<h3>Jane Sans</h3>
		<div class="comment">★ ★ ★ ★ ☆ Thanks for a good time!</div>
		<h3>Jerry Serif</h3>
		<div class="comment">★ ★ ★ ★ ☆ Thanks for a good time!</div>
	</div>
	<% end %>

	</div>
</div>