<hr>
<footer>

<div class="col-xs-4">
<p>新手帮助</p>
<p>24小时帮助</p>
</div>

<div class="col-xs-4">
<p>信任与安全</p>
<p>法律声明</p>
</div>

<div class="col-xs-4">
<p>免费申请</p>
<p>向导守则</p>
</div>

<p>Team Go With You (c)</p>

</footer>